<%- include('./partials/header') %>
<form method="POST" action="/cohorts/<%= cohorts.id %>" id="form">
  <h1>Edit Cohort</h1>
  <input type="hidden" name="_method" value="PATCH" />
  <div class="form-group">
    <textarea class="form-control" name="imageUrl" ><%= cohorts.imageUrl %></textarea>
  </div>
  <br>
  <div class="form-group">
    <textarea class="form-control" name="name" ><%= cohorts.name %></textarea>
  </div>
  <br>
  <div class="form-group">
    <textarea class="form-control" name="members" ><%= cohorts.members %></textarea>
  </div>
  <br>
  <input type="submit" class="btn btn-outline-success" value="Submit" />
</form>
<%- include('./partials/footer') %>